[Desktop Entry]
Categories=Game;
Comment[en_US]=Online Multiplayer Doom port with a strong focus on the original gameplay while providing a breadth of enhancements.
Comment=Online Multiplayer Doom port with a strong focus on the original gameplay while providing a breadth of enhancements.
Exec=odamex
GenericName[en_US]=Online Multiplayer Doom Port
GenericName=Online Multiplayer Doom Port
Icon=/home/sapientlion/Desktop/net.odamex.Odamex/net.odamex.Odamex.512.png
MimeType=
Name[en_US]=Odamex
Name=Odamex
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
